{% extends 'blogapp/post_base.html' %}

{% block content %}
	<div id="top" class="top-banner">
		<div class="banner-text-1">
			<h2 class="post-title">{{ post.title }}</h2>
			{% if post.date_published %}
				<p class="post-date">{{post.date_published|date:'M d Y'}}</p>
			{% endif %}
		</div>
	</div>
	<div class="content-section">
		<div class="leftside-bar"></div>
		<div class="post-container">
			<p class="post-content">{{post.text|linebreaksbr}}</p>
			<hr class="line-divider">
			<div class="post-button">
				<a class="post-nav" href="#top">Back to top</a>
			</div>
		</div>
		<div class="rightside-bar"></div>
	</div>

{% endblock %}