<!DOCTYPE html>
<html>
<head>
	<title>Lulet Blog</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header class="title-section">
		<div class="title-logo">
			<h1 class="title">decode<br>space</h1>
		</div>

		<!-- <div class="background-text">
			<p>The Decode Space</p>
		</div> -->
	</header>
		
	</div>
	<main class="page">
		<div class="background-text">
			<p>Decode<br>Space</p>
		</div>
		<div class="top-banner">
			<div class="banner-text-1">
				<p>Transforming virtual thoughts</hp>
			</div>
		</div>
		<div class="content-section">
			<div class="leftside-bar">
				
			</div>
			<div class="post-container">
				<div class="post">
					<h2 class="post-title">That is not the answer to the function</h2>
		            <div class="post-details">
		            	<p>published: 14.06.2014, 12:14<br><br><!-- The random musings of one Louiz brought to you by no one, sponsored by probably negative number of people<br> -->Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis est imperdiet elit laoreet, sit amet efficitur felis molestie. Nunc vitae mattis libero, vitae dignissim libero. Cras quis tellus orci. Curabitur ac ligula at nisi pellentesque tristique. Etiam dapibus eget risus ut aliquam. Quis</p>
		            	<div class="post-button">
		            		<a class="post-nav" href="">Read</a>
		            	</div>
		            </div>
		            <!-- <hr> -->
		        </div>

		        <div class="post">
		        	<h2 class="post-title">To push or not to push</h2>
		            <div class="post-details">
		            	<p>published: 14.06.2014, 12:14<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis est imperdiet elit laoreet, sit amet efficitur felis molestie. Nunc vitae mattis libero, vitae dignissim libero. Cras quis tellus orci. Curabitur ac ligula at nisi pellentesque tristique. Etiam dapibus eget risus ut aliquam. Quis</p>
		            	<div class="post-button">
		            		<a class="post-nav" href="">Read</a>
		            	</div>
		            </div>
		            <!-- <hr> -->
		        </div>

		        <div class="post">
		        	<h2 class="post-title">The Awesome lessons learnt from debugging</h2>
		            <div class="post-details">
		            	<p>published: 14.06.2014, 12:14<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis est imperdiet elit laoreet, sit amet efficitur felis molestie. Nunc vitae mattis libero, vitae dignissim libero. Cras quis tellus orci. Curabitur ac ligula at nisi pellentesque tristique. Etiam dapibus eget risus ut aliquam. Quis</p>
		            	<div class="post-button">
		            		<a class="post-nav" href="">Read</a>
		            	</div>
		            </div>
		            <!-- <hr> -->
		        </div>

		        <div class="post">
		        	<h2 class="post-title">That is not the answer to the function</h2>
		            <div class="post-details">
		            	<p>published: 14.06.2014, 12:14<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis est imperdiet elit laoreet, sit amet efficitur felis molestie. Nunc vitae mattis libero, vitae dignissim libero. Cras quis tellus orci. Curabitur ac ligula at nisi pellentesque tristique. Etiam dapibus eget risus ut aliquam. Quis</p>
		            	<div class="post-button">
		            		<a class="post-nav" href="">Read</a>
		            	</div>
		            </div>
		            <!-- <hr> -->
		        </div>

		        <div class="post">
		        	<h2 class="post-title">The Awesome lessons learnt from debugging</h2>
		            <div class="post-details">
		            	<p>published: 14.06.2014, 12:14<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis est imperdiet elit laoreet, sit amet efficitur felis molestie. Nunc vitae mattis libero, vitae dignissim libero. Cras quis tellus orci. Curabitur ac ligula at nisi pellentesque tristique. Etiam dapibus eget risus ut aliquam. Quis</p>
		            	<div class="post-button">
		            		<a class="post-nav" href="">Read</a>
		            	</div>
		            </div>
		            <!-- <hr> -->
		        </div>
			</div>
			<div class="about-section">
				<div class="post-details"><p>published: 14.06.2014, 12:14<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis est imperdiet elit laoreet, sit amet efficitur felis molestie. Nunc vitae mattis libero, vitae dignissim libero. Cras quis tellus orci. Curabitur ac ligula at nisi pellentesque tristique. Etiam dapibus eget risus ut aliquam. Quis</p></div>				
			</div>
		</div>
		<div class="social-media">
			<a class="social-link" href="">Twitter</a>
			<a class="social-link" href="">Github</a>
			<a class="social-link" href="">Codepen</a>
		</div>
		<footer></footer>
		
	</main>
	</div>

</body>
</html>