<!DOCTYPE html>
<html>
<head>
	<title>Lulet Blog</title>
</head>
<body>
	<h1>The Life and Code of Lulet</h1>
	<h1>Code<br>Random<br>Thoughts</h1>

	<div class="post-container">
		<div>
			<h2><a href="">My first post</a></h2>
            <p>published: 14.06.2014, 12:14</p>
            <p>The random musings of one Louiz brought to you by no one, sponsored by probably negative number of people</p>
        </div>

        <div>
        	<h2><a href="">My second post</a></h2>
            <p>published: 14.06.2014, 12:14</p>
            <p>A.las another post was created</p>
        </div>
	</div>

</body>
</html>